h1 {
  text-align: center;
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: bold;
  font-size: 60px;
  color: #c62a88;
}

h2 {
    text-align: center;
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: bold;
    font-size: 60px;
    color: #150485;
}

h3 {
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: bold;
  font-size: 35px;
  color: #150485;
}

h4 {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 15px;
}

body {
    text-align: center;
    font-family: 'Alegreya Sans', sans-serif;
}

.container1 {
  padding-top: 80px;
  padding-bottom: 300px;
  max-width: 100%;
  background-color: #150485;
}

.container2 {
  padding-top: 300px;
  padding-bottom: 500px;
  max-width: 100%;
  background-color: #c62a88;
}

.container3 {
  padding-top: 300px;
  padding-bottom: 500px;
  max-width: 100%;
  background-color: #03c4a1;
}

.container4 {
  padding-top: 300px;
  padding-bottom: 100px;
  max-width: 100%;
  background-color: #c62a88;
}

a:link {
  color: inherit;
}

a:visited {
  color: inherit;
}

/* mouse over link */
a:hover {
  text-shadow: 10px;
}

html {
  scroll-behavior: smooth;
}






150485
590995
c62a88
03c4a1
